{{!-- <p>List of found things</p>

{{#each founds}}
<a href="/{{this}}">{{this.foundItem}}</a>
{{/each}} --}}

<p>List of found things</p>




{{#each founds}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{foundItem}}</h5>
    <p class="card-text">{{desc}}</p>
    <a href="/found-list/{{this._id}}" class="btn btn-primary">{{this.foundItem}}</a>
  </div>
</div>
{{/each}}