<h2>Lost Details Page </h2>

<div class="lostDetails">
<div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">User: {{_user.[0].username}}</h5>
    <h5 class="card-title">Lost: {{this.lostItem}}</h5>
    <p class="card-text">Description: {{desc}}</p>
    <p class="card-text">Location: {{location}}</p>
    <p class="card-text">Date: {{lostDate}}</p>   
    <p class="card-text">Reward: {{reward}}</p> 
  </div>
</div>

<div class="commentField">
<form action="/lost-list/{{this._id}}" method="post"> 
<textarea style="width: 35rem;" name="comment" id="comment" cols="30" rows="10"></textarea>
<button class="btn btn-primary" type="submit">post</button>
</form>

<div class="comments" style="width: 35rem;">
{{#each comments}}
  <p>Author: {{this.author.username}}</p>
  <p>Comment: {{this.content}}</p>
{{/each}}

</div>
</div>
</div>









