
<p>List of lost things</p>




{{#each losts}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{lostItem}}</h5>
    <p class="card-text">{{desc}}</p>
    <a href="/lost-list/{{this._id}}" class="btn btn-primary">{{this.lostItem}}</a>
  </div>
</div>
{{/each}}
